.row
  .col-md-6
    %h1 Balance Sheet
#assets
  .row
    .col-sm-3 Distributable
    .col-sm-3.retained-profit= number_to_gbp(@balance_sheet.retained_profit)
  .row{style: "margin-top:30px;"}
    .col-md-6
      %h5 Bank Accounts
  - @balance_sheet.bank_accounts.each do |bank_account|
    .row
      .col-md-3= bank_account.name
      .col-md-3.bank_balance= number_to_gbp(bank_account.current_balance)
  .row{style: "margin-top:30px;"}
    .col-md-6
      %h5 Open Invoices
  - @balance_sheet.open_invoices.each do |open_invoice|
    .row
      .col-md-3.contact_name= open_invoice.contact_name
      .col-md-3.due_value= number_to_gbp(open_invoice.due_value)
