.card.mt-3
  .card-header
    Balance Sheet
  .card-body
    %table.table
      %tbody
        %tr.bg-info.text-white
          %td Total Assets
          %td.text-sm-right 99
          %td

        - @balance_sheet.bank_accounts.each do |bank_account|
          %tr
            %td.bank_account_name
              Bank Account:
              = bank_account.name
            %td.text-sm-right.bank_balance
              = number_to_gbp(bank_account.current_balance, 0)
            %td

        - @balance_sheet.open_invoices.each do |open_invoice|
          %tr
            %td.contact_name
              Open Invoice:
              = open_invoice.contact_name
            %td.text-sm-right.due_value
              = number_to_gbp(open_invoice.due_value, 0)
            %td

        %tr.bg-warning.text-white
          %td Total Liabilities
          %td
          %td.text-sm-right 1000

        %tr#corporation-tax
          %td{colspan: 2} Corporation Tax owed
          %td.text-sm-right.corporation_tax_owed= number_to_gbp(@balance_sheet.corporation_tax_owed, 0)

        %tr#vat
          %td{colspan: 2} VAT owed
          %td.text-sm-right.vat_owed= number_to_gbp(@balance_sheet.vat_owed, 0)

        %tr#salaries
          %td{colspan: 2} Salaries owed
          %td.text-sm-right 2

        %tr#salaries
          %td{colspan: 2} Expenses owed
          %td.text-sm-right 2

        %tr.bg-success.text-white
          %td{colspan: 2} Owner's Equity
          %td.retained-profit= number_to_gbp(@balance_sheet.retained_profit, 0)

